name: Compile Kernel

on:
  workflow_dispatch:
    inputs:
      clang_version:
        description: Type the clang version of ur kernel
        required: true
        type: choice
        options:
          - clang-3289846
          - clang-r547379
          - clang-r563880
          - clang-r563880c
          - clang-r574158
          - clang-stable
          
      kernel_source:
        description: Kernel Source Code
        required: true
        type: choice
        options:
          - LineageOS
          - crdroidandroid
          - OnePlus12R-development
          
      kernel_branch:
        description: Kernel Branch(such as lineage-23.2 sixteen-qpr1
        required: true
        type: string
        default: ""
        
      ksu_type:
        description: "KernelSU Version"
        required: true
        type: choice
        options:
          - None
          - Official-KernelSU
          - KernelSU-Next
          - KernelSU-Next-with-susfs
          - KowSU
          - ReSukiSU
          - ReSukiSU-with-susfs
jobs:
  SM8550_Kernel_CI:
    env:
        CLANG_VER: clang-r547379
        GH_TOKEN: ${{ github.token }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
      checks: read
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup SWAP
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16
          
      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y \
          bc bison flex \
          libssl-dev \
          libelf-dev \
          libdw-dev \
          build-essential \
          lz4 \
          git \
          python3 \
          curl \
          dwarves \
          cpio
      - name: Clone Kernel Source
        run: |
          git clone --depth=1 -b ${{ inputs.kernel_branch }} https://github.com/${{ inputs.kernel_source }}/android_kernel_oneplus_sm8550.git sm8550
          git clone --depth=1 -b ${{ inputs.kernel_branch }} https://github.com/${{ inputs.kernel_source }}/android_kernel_oneplus_sm8550-modules.git sm8550-modules

      - name: Download AOSP Clang
        run: |
          mkdir -p toolchains/${{ clang_version }}
          cd toolchains

          curl -LO https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/android16-qpr2-release/${{ clang_version }}.tar.gz
          tar -xf "${{ clang_version }}.tar.gz" -C ${{ clang_version }}

      - name: Compile Kernel
        run: |
          CLANG_ROOT="${GITHUB_WORKSPACE}/toolchains/${{ clang_version }}/bin"
          export PATH="${CLANG_ROOT}:$PATH"
          export ARCH=arm64
          export SUBARCH=arm64
          export LLVM=1
          export LLVM_IAS=1
          export CC="${CLANG_ROOT}/clang"
          export CXX="${CLANG_ROOT}/clang++"
          export HOSTCC="${CLANG_ROOT}/clang"
          export HOSTCXX="${CLANG_ROOT}/clang++"
          export LD="${CLANG_ROOT}/ld.lld"
          export AR="${CLANG_ROOT}/llvm-ar"
          export NM="${CLANG_ROOT}/llvm-nm"
          export OBJCOPY="${CLANG_ROOT}/llvm-objcopy"
          export OBJDUMP="${CLANG_ROOT}/llvm-objdump"
          export STRIP="${CLANG_ROOT}/llvm-strip"

          cd sm8550

          case "${{ inputs.ksu_type }}" in
          
            "None")
              ;;
              
            "Official-KernelSU")
              curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -s main
              ;;
              
            "KowSU")
               curl -LSs "https://raw.githubusercontent.com/KOWX712/KernelSU/main/kernel/setup.sh" | bash -s master
              ;;

            "KernelSU-Next")
              curl -LSs "https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh" | bash -s dev
              ;;

            "KernelSU-Next-with-susfs")
              curl -LSs "https://raw.githubusercontent.com/pershoot/KernelSU-Next/refs/heads/dev-susfs/kernel/setup.sh" | bash -s dev-susfs
              ;;

            "ReSukiSU"|"ReSukiSU-with-susfs")
              curl -LSs "https://raw.githubusercontent.com/ReSukiSU/ReSukiSU/main/kernel/setup.sh" | bash -s builtin
              ;;
          esac
          
          if [[ "${{ inputs.ksu_type }}" == *susfs ]]; then
            git clone -b gki-android13-5.15 https://gitlab.com/simonpunk/susfs4ksu.git susfs
            cd susfs
            cp ./kernel_patches/50_add_susfs_in_gki-android13-5.15.patch ..
            cp ./kernel_patches/fs/* ../fs/
            cp ./kernel_patches/include/linux/* ../include/linux/
            cd ..
            patch -p1 < 50_add_susfs_in_gki-android13-5.15.patch
          fi
          
          touch ./.scmversion
          
          make O=out gki_defconfig vendor/kalama_GKI.config vendor/oplus/kalama_GKI.config vendor/debugfs.config
          sed -i "s|CONFIG_KSU_SUSFS_SPOOF_UNAME=y|CONFIG_KSU_SUSFS_SPOOF_UNAME=n|" out/.config
          echo "CONFIG_TMPFS_XATTR=y" >> out/.config
          
          make -j2 O=out

      - name: Make AnyKernel3
        run: |
          ZIP_NAME="${{ inputs.ksu_type }}_$(date -u +"%Y%m%d_%H%M")"
          git clone https://github.com/Kernel-SU/AnyKernel3.git

          cp sm8550/out/arch/arm64/boot/Image AnyKernel3/Image
          cp sm8550/out/arch/arm64/boot/Image ./Image
          cd AnyKernel3

          zip -r9 ../"${ZIP_NAME}.zip" * -x .git

      - name: Create GitHub Release
        run: |
          REL_NAME="OPSM8550_${{ inputs.kernel_source }}-${{ inputs.kernel_branch }}_${{ inputs.ksu_type }}_$(date -u +"%Y%m%d_%H%M")"
          cd ${GITHUB_WORKSPACE}
          ZIP_FILE=$(ls *.zip)
          gh release create "$REL_NAME" --title "$REL_NAME" --notes "" "${ZIP_FILE}" Image
